* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  background: #f9fafb;
  color: #111827;
  color-scheme: light !important;
}

.mat-mdc-form-field {
  --mdc-outlined-text-field-container-color: #ffffff;
  --mdc-outlined-text-field-label-text-color: #6b7280;
  --mdc-outlined-text-field-input-text-color: #111827;
  --mdc-outlined-text-field-outline-color: #d1d5db;
  --mdc-outlined-text-field-focus-outline-color: #059669;
}

.mat-mdc-card {
  background: #ffffff !important;
  color: #111827 !important;
}